node_modules
dist
dist-ssr
*.local
.DS_Store

# Tauri & Rust build artifacts
src-tauri/target
src-tauri/gen

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Database & local data
*.db
*.sqlite
*.sqlite3
.env
.env.*

